<% include partials/header %>
<!--<h1>Log In</h1>-->

<!--<form action="/login" method="POST">-->
<!--    <input type="text" name="username" placeholder="Username : ">-->
<!--    <input type="passsword" name="password" placeholder="Password :">-->
<!--    <input type="submit" value="Register">-->
<!--</form>-->
<!--<div class="container">-->
<!--<div class="row">-->
    <div id="block" class="p-4">
    <h3 class="text-center m-5">Login to CampHub <i class="ml-2 fas fa-campground"></i></h3>
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <a href="/campgrounds" class="d-inline">Go Back</a>
        <a class="float-right d-inline" href="/forgot">Forgot password?</a>
    </div>
<!--</div>-->
<!--</div>-->
<% include partials/footer %>