<h1>Sign Up form</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username : ">
    <input type="passsword" name="password" placeholder="Password :">
    <input type="submit" value="Register">
</form>