<% include ../partials/header %>
    <h1>WELCOME to CAMPGROUND</h1>
    <a href="/campgrounds">View available campground</a>
    <a href="/newCampground">Add new Campground</a>

<% include ../partials/footer %>